/* Footer.css */

.app-footer {
    height: 30px;
    background: linear-gradient(to top, #4287C7, #7FDBFF);
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ddd;
    position: static;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 10;
}
