/* MapboxSearchBar.css */

.search-bar-container {
  position: absolute;
  top: 10px;
  left: 60px;
  z-index: 1000;
  background: white;
  padding: 5px;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-results {
  list-style: none;
  margin: 0;
  padding: 5px;
  background: white;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.search-results li {
  padding: 4px;
  cursor: pointer;
}

.search-input-style {
    padding: 6px;
    width: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.search-button-style {
    padding: 6px;
    margin-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.results-style {
    padding: 6px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}